.container {
    max-width: 80%;
    padding: 34px;
    margin: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.door{
    width: 80%;
    border: 2px solid black;
    margin: 11px 0px;
    padding: 7px;
    border-radius: 6px;
    outline: none;
}
h3{
    font: 40px sans-serif;;

}

.container h3, p{
    text-align: center;

}
form{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color:black;
    background: blue;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 14px;
    cursor: pointer;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    height: 100%;
}